<div class="container mt-5">
    <div class="text-center mb-4">
        <h1>Nos Services</h1>
        <p>Découvrez les différentes façons de profiter pleinement de votre visite au zoo Arcadia.</p>
    </div>

    <div class="row">
        <div *ngFor="let service of services" class="col-12">
            <div class="card mb-4">
                <!-- Image du service, affichée uniquement si elle est disponible -->
                <img class="card-img-top" [src]="images[service.id]" alt="{{ service.name }}" *ngIf="images[service.id]">
        
                <div class="card-body">
                    <h5 class="card-title">{{ service.name }}</h5>
                    <p class="card-text">{{ service.description }}</p>
                </div>
        
                <div class="card-footer">
                    <!-- Afficher les commentaires si visibles -->
                    <p *ngIf="visibleComments[service.id] && service.comments" class="card-text mt-2">
                        <small class="text-muted">{{ service.comments }}</small>
                    </p>
        
                    <!-- Bouton pour afficher/masquer les commentaires -->
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" (click)="toggleComments(service.id)">
                            {{ visibleComments[service.id] ? 'Cacher' : 'Afficher' }} plus d'informations
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  