<footer class="bg-light text-center text-lg-start mt-auto">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Ligne 1 : Copyright -->
            <div class="col-12 mb-2">
                <p class="mb-0">&copy; 2024 Zoo Arcadia | DevSoft</p>
            </div>
        
            <!-- Ligne 2 : Liens -->
            <div class="col-12">
                <a routerLink="/legal-notice" class="text-decoration-none me-3">Mentions légales</a>
                <a href="#" class="text-decoration-none" id="backToTop">Retour en haut</a>
            </div>
        </div>
    </div>
</footer>
